

<form action="/articles/<%= @article.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Title: </label>
    <textarea type="text" name="article[title]" value="<%= @article.title %>"> </textarea>
    <label>Content:</label>
    <textarea type="text" name="article[content]" value="<%= @article.content %>"></textarea>
    <input type="submit" value="submit">
</form>