

<form action="/articles/<%= @article.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Title: </label>
    <input type="text" name="title" value="<%= @article.title %>">
    <%#<textarea type="text" name="article[title]" > </textarea> %>
    <label>Content:</label>
    <input type="text" name="content" value="<%= @article.content %>">
    <%#<textarea type="text" name="article[content]" value="<%= @article.content %>"></textarea>%>
    <input type="submit" value="submit">
</form>

