<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<form action="/articles/<%= @article.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete" />
<input type="submit" />
</form>